<ion-view title="Produtos" data-tap-disabled="false">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right"  >
        <a class="button button-icon icon ion-clipboard" ng-show="PedidoIncompleto == true" href="#/app/pedido"></a>
    </ion-nav-buttons>
        <ion-content class="has-header">
            <div class="item item-input-inset calm-bg">
                <label class="item-input-wrapper">
                    <input ng-model="Produto.Nome" type="text" placeholder="Digite o nome do produto">
                </label>
                <button ng-click="listarProdutosPorNome()" class="button button-small button-dark">
                    Buscar
                </button>
                <button ng-click="cancelar()" class="button button-small button-dark">
                    Cancelar
                </button>
            </div>
            <div class="list">
                <a class="item item-thumbnail-left" href="#/app/produto/{{item.ProdutoId}}" collection-repeat="item in Produtos">
                    <img src="data:image/png;base64, {{ item.Foto == '' ? FotoPadrao.Valor : item.Foto}}">

                    <h2>{{item.Nome}}</h2>
                    <p>Preço - R$ {{item.Preco.toFixed(2)}}</p>
                    <p>{{item.Descricao}}</p>
                </a>
            </div>
        </ion-content>
</ion-view>
